{% extends "Breezi/base.html" %}

{% block title %}Contact - Breezi Blog{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>If you have questions, suggestions, or feedback, feel free to reach out to us using the contact form below.</p>

<form method="post">
    {% csrf_token %}
    <label for="name">Name: </label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email: </label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="message">Message: </label><br>
    <textarea id="message" name="message" rows="5" required></textarea><br><br>

    <button type="submit">Send</button>
</form>
{% endblock %}
